@charset "utf-8";

/*1. *Pequenas telas: até 600px*
2. *Celular: de 600px até 768px*
3. *Tablet: 768px até 992px*
4. *Desktop: 992px até 1200px*
5. *Grandes telas: acima de 1200px**/

@media screen and (max-width:600px) {
    
    body{

        background-color:rgb(77, 255, 0);
    }

    section#resultado{

        position: absolute;
        top: 60%;
        left: 50%;
        width: 420px;
        height: 765px;
        background-color: white;
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.357);
        border-radius: 0px;
        transform: translate(-50%, -50%);
    }

     section#resultado > div#cabecalho {

        border-radius: 0px 0px 30px 30px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.467);
    }

}

@media screen and (min-width: 600px) and (max-width: 768px){

    body{
        background-color: bisque;
    }

    section#resultado{
        position: absolute;
        top:55%;
        height: 710px;
        border-radius: 30px 30px 30px 30px;

        transform: translate(-50%, -50%);
        
    }  

    section#resultado > div#cabecalho {

        border-radius: 0px 0px 30px 30px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.467);
    }
}

@media screen and (min-width: 768px) and (max-width:992px){

    body{
        background-color: brown;
    }

    section#resultado{
        top: 55%;
        width: 70vw;
        height: 450px;
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.357);
        border-radius: 30px;
    }

    section#resultado > div#cabecalho{
        float: left;
        width:45%;
        height: 96%;
        border-radius: 30px 30px 30px 30px;
    }

    div#cabecalho > p#destaque{

        position: absolute;
        left:24%;
        top:22%;

        transform: translate(-50%, -50%);
    }

    div#cabecalho > h3{    
        padding: 20px;
        font-size: 1.2em;
    
    }

    section#resultado > div#cabecalho > p#scored{

        padding-top: 10px;
        font-size: 1.1em;
        line-height: 25px;
        
    }

    section#resultado > div#summary{
        float: right;
        width: 45%;
        height: 100%;
    }

    div#summary{
        padding: 0px;
      
    }

    div#summary > h2{

        padding-top:20px ;
        font-size: 1.7em;
        margin-bottom: 200px;
    }

    div#summary > ul > li{

        margin-bottom: 5px;
        padding: 11px;
        width: 200px;
       
    }

    div#summary > ul > li#teste1{
          
        position: absolute;
        top:18%;
        word-spacing:50px;
    }

    div#summary > ul > li#teste2{
        position: absolute;
        top:33%;
        word-spacing: 50px;
    }

    div#summary > ul > li#teste3{
        position: absolute;
        top:48%;
        word-spacing: 60px;
    }

    div#summary > ul > li#teste4{
        position: absolute;
        top:63%;
        word-spacing: 60px
    }

    main > section > div#summary input[type=submit]{

        padding: 10px;
        position: absolute;
        top:75%;
        width: 230px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {

    body{
        background-color: blueviolet;
    }

    section#resultado{
        top: 50%;
        width: 60vw;
        height: 450px;
        border-radius: 30px;
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.357);
    }

    section#resultado > div#cabecalho{
        float: left;
        width:45%;
        height: 96%;
        border-radius: 30px 30px 30px 30px;
    }

    div#cabecalho > h3{    
        padding: 20px;
        font-size: 1.2em;
    
    }

    section#resultado > div#cabecalho > p#scored{

        font-size: 1.1em;
    }

    div#cabecalho > p#destaque{

        position: absolute;
        left:24%;
        top:22%;

        transform: translate(-50%, -50%);
    }

    section#resultado > div#summary{
        float: right;
        width: 45%;
        height: 100%;
    }

    div#summary{
        padding: 0px;
      
    }

    div#summary > h2{

        padding-top: 20px;
        font-size: 1.7em;
        margin-bottom: 200px;
    }

    div#summary > ul > li{

        margin-bottom: 5px;
        padding: 11px;
        width: 220px;
    }

    div#summary > ul > li#teste1{
          
        position: absolute;
        top:18%;
        word-spacing:70px;
    }

    div#summary > ul > li#teste2{
        position: absolute;
        top:33%;
        word-spacing: 70px;
    }

    div#summary > ul > li#teste3{
        position: absolute;
        top:48%;
        word-spacing: 90px;
    }

    div#summary > ul > li#teste4{
        position: absolute;
        top:63%;
        word-spacing: 90px
    }

    main > section > div#summary input[type=submit]{

        padding: 10px;
        position: absolute;
        top:75%;
        width: 240px;
    }
}

@media screen and (min-width:1200px){

    body{
        background-color: aqua;
    }

    section#resultado{
        top: 50%;
        width: 60vw;
        height: 480px;
        border-radius: 30px;
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.357);
    }

    section#resultado > div#cabecalho{
        float: left;
        width:45%;
        height: 96%;
        border-radius: 30px 30px 30px 30px;
    }

    div#cabecalho > h3{  
        margin-top: 10px;  
        padding: 20px;
        font-size: 1.3em;
    
    }

    div#cabecalho > p#destaque{

        position: absolute;
        top:29%;
        left:24%;
        width: 140px;
        height: 140px;

        transform: translate(-50%, -50%);
    }

    div#cabecalho > h2{

        font-size: 1.5em;
        margin-top: 110px;
    }

    section#resultado > div#cabecalho > p#scored{

        font-size: 1.1em;
        padding-top: 15px;
    }

    section#resultado > div#summary{
        float: right;
        width: 45%;
        height: 100%;
    }

    div#summary{
        padding: 0px;
      
    }

    div#summary > h2{

        padding-top: 20px;
        font-size: 1.7em;
        margin-bottom: 200px;
    }

    div#summary > ul > li{

        margin-bottom: 5px;
        padding: 11px;
        width: 270px;
     
    }

    div#summary > ul > li#teste1{
          
        position: absolute;
        top:18%;
        word-spacing:120px;
    }

    div#summary > ul > li#teste2{
        position: absolute;
        top:33%;
        word-spacing: 120px;
    }

    div#summary > ul > li#teste3{
        position: absolute;
        top:48%;
        word-spacing: 140px;
    }

    div#summary > ul > li#teste4{
        position: absolute;
        top:63%;
        word-spacing: 140px
    }

    main > section > div#summary input[type=submit]{

        padding: 10px;
        position: absolute;
        top:75%;
        width: 290px;
    }
   
}