/*Paleta de cores do gradiente:

    1- #6441FD
    2- #4B36F3
    3- #312CEA
*/

@font-face {
    font-family: 'Hanken';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: normal;
    font-size: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: 'Hanken';
}

body, html{

    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#resultado{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 790px;
    background-color: white;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.357);
    border-radius: 30px;
    transform: translate(-50%, -50%);
}

section#resultado > div#cabecalho{

    background-image: linear-gradient(to top,#6441FD, #312CEA);
    height: 35vh;
    display: block;
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    color: lightgray;
    
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.444);
}

div#cabecalho > h3{    
    padding: 20px;
    font-size: 1.1em;

}

div#cabecalho > p#destaque {
    background-image: linear-gradient(to bottom,#4925D1, #4636F1);
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: 25px;
    transform: translate(-50%, -50%);
   
}

div#cabecalho > p > span#posicao{
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}

 span#negrito{

    padding: 30px;
    font-size: 4em;
    color:rgb(147, 28, 28);
    font-weight: bolder;

}

div#cabecalho > h2{
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    margin-top: 70px;

}

p{
   line-height: 22px;

}

div#summary{
    padding: 20px;
}

div#summary > h2{

    color:#313E59;
    font-weight: bolder;
    font-size: 1.3em;
    padding-bottom: 20px;

}


div#summary > ul > li{

    padding: 13px;

    list-style-position: inside;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
   
}

div#summary > ul > li#teste1 {
   
    word-spacing: 136px;
    background-color: #FFF7F5;
    color: #E77574;
    list-style-image: url(./assets/images/icon-reaction.svg);
}

div#summary > ul > li#teste2{
    word-spacing: 140px;
    background-color: #FFFCF1;
    color: #F2CF8D;
    list-style-image: url(./assets/images/icon-memory.svg);
}

div#summary > ul > li#teste3{
    word-spacing: 150px;
    background-color:#F2FBFA;
    color: #4EBF9F;
    list-style-image: url(./assets/images/icon-verbal.svg);
}

div#summary > ul > li#teste4{
    word-spacing: 154px;
    background-color:#F3F3FF;
    color: #5A69BF;
    list-style-image: url(./assets/images/icon-visual.svg);
}

div#summary > ul > li > span.pontuacao{

    color:#313e59d0
}

div#summary > ul >li > span.valor-max{
    color: lightgray;
}

main > section > div#summary input[type=submit]{

    display: block;
    width: 100%;
    color:white;
    background-color: #313E59;
    border-radius: 25px;
    padding: 20px;
    border-color: transparent;
    margin-top: 25px;
    font-size: 1.2em;
}

main > section > div#summary input[type=submit]:hover{

    background-color: #6341fd88;
}